<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>This is my page</title>
    </head>

    <body>
        This is test
        <h1>1st head</h1>
        <h6>6th head</h6>
        <p>This is my first paragraph. <br/> I am learning html & css. </p>
        <hr/>
        <p>See the line above.</p>

        <a href="https://www.twitter.com">Twitter</a>
        <a href="https://www.google.com" target="_blank">Google</a>

        <a href="#comments">watch comments</a>
        <h2 id="comments">comments</h2>
        <img src="" alt="testimg" width="300" height="200" />

        <div>
            my block
        </div>
        <span>inline span elem</span>

        <table>
            <tr>
                <th>h1</th>
                <th>h2</th>
            </tr>
            <tr>
                <td>line 1, column 1</td>
                <td>line 1, column 2</td>
            </tr>
            <tr>
                <td>line 2, column 1</td>
                <td>line 2, column 2</td>
            </tr>
        </table>

    </body>
</html>
