<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <p class="h1">h1. Bootstrap heading</p>
            <p class="h2">h2. Bootstrap heading</p>
            <p class="h3">h3. Bootstrap heading</p>
            <p class="h4">h4. Bootstrap heading</p>
            <p class="h5">h5. Bootstrap heading</p>
            <p class="h6">h6. Bootstrap heading</p>
        </div>

        <div class="row">
            <div class="list-unstyled">
                <li>Line number 1</li>
                <li>Line number 2</li>
                <li>Line number 3</li>
                <li>Line number 4</li>
                <li>Line number 5</li>
                <ul>
                    <li>Subline 1</li>
                    <li>Subline 2</li>
                    <li>Subline 3</li>
                </ul>
            </div>

            <!--Use this in top navigation bar -->
            <ul class="list-inline">
                <li class="list-inline-item">This is a list item.</li>
                <li class="list-inline-item">And another one.</li>
                <li class="list-inline-item">But they're displayed inline.</li>
            </ul>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>
